{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Changed Done{% endblock %}


{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="card">
                <h5 class="card-header">Password Change Done</h5>
                <div class="card-body">
                        Your password has been changed. You may go ahead and log in now.
                        <a href="{% url 'login' %}" class="btn btn-large btn-primary w-100 mt-4">Login</a>
                        <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}