{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}


{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="card">
                <h5 class="card-header">Password Reset</h5>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form |crispy }}
                        <button type="submit" class="btn btn-large btn-primary w-100 mt-4">Send Email</button>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}